.rootBase {
  color: var(--color-text-inverse);
  background: rgba(0, 0, 0, 0.6) 50% 50% / cover no-repeat;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  transform: translate3d(0, 0, 0);
}

.boxShadow {
  box-shadow: 0 6px 8px rgba(0,0,0,0.25);
}

.overlay {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  transform: translate3d(0, 0, 0);
}

.borderRadius {
  border-radius: 10px;
}

.overlayShadow {
  background: rgba(0, 0, 0, 0.6);
  transition: background .2s ease-in;
}

.opening .overlayShadow {
  background: rgba(0, 0, 0, 1);
}

.overlayGradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 2.36%, rgba(255, 255, 255, 0) 100%);
}

.video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.root {
  padding: 28px 12px 12px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
}

.reducer {
  margin: 0 0 0 2rem;
}
