.root {

}

.titleWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  color: var(--color-header);
}

.link {
  align-self: center;
  color: #007AFF;
  font-size: 18px;
  margin-right: -1rem;
  padding: 1rem;
  text-decoration: none;
}