.navbar {
  background: #F4F4F4;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 5;
}

.item {
  align-self: center;
  color: #BDBDBD;
  flex: 1;
  font-size: 2rem;
  justify-content: space-around;
  padding: var(--size-gutter-half);
  text-align: center;
  text-decoration: none;
}

.item:hover {
  color: #BDBDBD;
}

.active:hover {
  color: #2D9CDB;
}

.active {
  color: #2D9CDB;
}

.navbarSpacer {
  padding-top: 100px;
}
