.navbar {
  background: #000;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 5;
}

.item {
  align-self: center;
  color: var(--color-text-inverse);
  flex: 1;
  font-size: 2rem;
  justify-content: space-around;
  padding: var(--size-gutter);
  text-align: center;
  text-decoration: none;
}

.active {
  background: rgba(255, 255, 255, .2);
}

.navbarSpacer {
  padding-top: 100px;
}
