.navbar {
  align-self: center;
  background: #000;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
}

.item {
  color: var(--color-text-inverse);
  font-size: 2rem;
  padding: var(--size-gutter);
}
