.wrapper {
  overflow: hidden;
}

.swipe {
  position: relative;
  visibility: hidden;
  margin: 0 var(--size-gutter-three-quarter);
}

.inner {
  display: flex;
  flex-wrap: nowrap;
  max-height: 100%;
  position: relative;
}

.child {
  max-height: 100%;
  position: relative;
  transition-property: transform;
}

.fullscreen,
.fullscreen .inner,
.fullscreen .child {
  height: 100%;
}

.childContent {
  margin: 0 var(--size-gutter-quarter);
}
