.wrapper {
  overflow: hidden;
  position: relative;
}

.swipe {
  position: relative;
  visibility: hidden;
  margin: 0 var(--size-gutter-three-quarter);
}

.mock:after {
  background: linear-gradient(to left top, #888, #444) #888;
  border-radius: 10px;
  bottom: 0;
  content: '';
  left: var(--size-gutter);
  position: absolute;
  right: var(--size-gutter);
  top: 0;
}

.inner {
  display: flex;
  flex-wrap: nowrap;
  max-height: 100%;
}

.child {
  max-height: 100%;
  position: relative;
  transition-property: transform;
}

.fullscreen,
.fullscreen .inner,
.fullscreen .child {
  height: 100%;
}

.childContent {
  margin: 0 var(--size-gutter-quarter);
}
