.contentWrapper {
  font-size: 18px;
}

.contentWrapper h1,
.contentWrapper h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contentWrapper p {
  margin-bottom: 1rem;
}

.contentWrapper ul {
  padding-left: 2rem;
}

.contentWrapper li {
  margin-bottom: 1rem;
}

.contentWrapper a {
  text-decoration: none;
}
