.page {
  background: var(--color-background);
}

.page:global(.transition-appear) {
  min-height: 100vh;
  transform: translate3d(100%, 0, 0);
  position: absolute;
  width: 100%;
  top: 0;
  transition-delay: .49s;
  transition: transform 0.01s;
}

.page:global(.transition-appear):global(.transition-appear-active) {
  transform: translate3d(0, 0, 0);
}



.block {
  border-radius: 0;
  height: 220px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .5s ease-out;
  z-index: 2;
}

.block:after {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 1);
}

.video {
  background: #000;

  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.overlay {
  background: var(--color-background);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
