.page {
  background: var(--color-background);
  transition: opacity .5s;
}

.page:global(.transition-appear) {
  min-height: 100vh;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
}

.page:global(.transition-appear):global(.transition-appear-active) {
  opacity: 1;
}

.page:global(.transition-leave) {
  opacity: 0;
}

.page:global(.transition-leave):global(.transition-leave-active) {
  opacity: 1;
}
